<div class="footer">
    <div class="email">
      <h3>Get the latest Rarity updates</h3>
      <input type="email" placeholder="Your e-mail" />
      <button type="button">I'm in</button>
      <h4>Powered by</h4>
      <img src="../images/cardano.png" alt="" />
    </div>
    <div class="footer-links">
      <h3>Community</h3>
      <ul>
        <li><a href="#">Vote</a></li>
        <li><a href="#">Support</a></li>
        <li><a href="#">Donate</a></li>
        <li><a href="#">Cardano</a></li>
      </ul>
    </div>
    <div class="footer-links">
      <h3>Rarity</h3>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Jobs</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Help</a></li>
      </ul>
    </div>
  </div>
  <hr />
  <div class="footer-bottom">
    <p>© Rarity, Inc. All rights reserved.</p>
    <div class="privacy">
      <ul>
        <li><a href="#">Terms</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">License</a></li>
      </ul>
    </div>
    <div class="social-media-icons">
      <i class="fab fa-instagram"></i>
      <i class="fab fa-facebook-square"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-discord"></i>
    </div>
  </div>