<div id="entire-navbar" class="navbar-wrapper">
  <div class="logo">
    <img src="../images/logo.png" alt="" />
    <span>arity</span>
  </div>
  <ul class="navbar">
    <li><a href="/home">Home</a></li>
    <li><a href="/mint">Mint</a></li>
    <li><a href="/aboutus">About Us</a></li>
  </ul>
  <div class="menu-dropdown">
    <button onclick="dropMenu()" class="dropbtn"><i class="fas fa-bars"></i></button>
    <div id="drop-menu" class="dropdown">
      <div class="log-in">
        <li><a href="#">Login</a></li>
      </div>
      <div class="contact-us">
        <li><a href="#">Contact Us</a></li>
      </div>
    </div>
  </div>
</div>
