<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="keywords"
      content=", NFT, nft market, art market, non-fungible tokens, crypto, Eth, Ada"
    />
    <meta name="author" content="Jad Obeid" />
    <meta
      name="description"
      content="Rarity is a new NFT marketplace where artists can create new breathe
    taking art and mint them into Non fungible tokens. Rarity provides a marketplace for digital art enthusiasts 
    to trade NFTs in a fast, reliable, and safe manner with little to no extra fees."
    />
    <title>Rarity</title>
    <script src="https://kit.fontawesome.com/757ab8fa7c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="shortcut icon" type="image/x-icon" href="../images/logo.png" />
  </head>

  <body>
    <%- include('header.ejs') %>
    <div class="category">
      <h2 class="collection-title" id="home-title">Hottest Deals &#x1F975;</h2>
      <div class="price">
        <p>500 ADA</p>
        <img src="../images/cardano-logo.png" alt="" />
      </div>
    </div>
    <div>
      <div class="grid-container">
        <img class="grid-item1" src="../images/futuristic1.png" alt="" />
        <img class="grid-item2" src="../images/finalfinalnft.png" alt="" />
        <img class="grid-item3" src="../images/monkey1.jpg" alt="" />
        <img class="grid-item4" src="../images/final1.png" alt="" />
        <img class="grid-item5" src="../images/neon1.jpg" alt="" />
      </div>
    </div>
    <div class="buy-container">
      <input type="text" placeholder="Enter Wallet" />
      <button>Buy</button>
    </div>
    <div class="cryptobud-nfts">
      <div class="category">
        <h2 class="collection-title">Spacebuds &#x1F47D;</h2>
        <div class="price">
          <p>2,500 ADA</p>
          <img src="../images/cardano-logo.png" alt="" />
        </div>
      </div>
      <div class="grid-container">
        <img class="grid-item1" src="../images/spacebud1.png" alt="" />
        <img class="grid-item2" src="../images/spacebud2.png" alt="" />
        <img class="grid-item3" src="../images/spacebud3.png" alt="" />
        <img class="grid-item4" src="../images/spacebud4.png" alt="" />
        <img class="grid-item5" src="../images/spacebud5.png" alt="" />
      </div>
    </div>
    <div class="buy-container">
      <input type="text" placeholder="Enter Wallet" />
      <button>Buy</button>
    </div>
    <div class="yummi-nfts">
      <div class="category">
        <h2 class="collection-title">Yummies &#x1F368;</h2>
        <div class="price">
          <p>10,000 ADA</p>
          <img src="../images/cardano-logo.png" alt="" />
        </div>
      </div>

      <div class="grid-container">
        <img class="grid-item1" src="../images/yummi1.jpg" alt="" />
        <img class="grid-item2" src="../images/yummi2.jpg" alt="" />
        <img class="grid-item3" src="../images/yummi3.png" alt="" />
        <img class="grid-item4" src="../images/yummi4.png" alt="" />
        <img class="grid-item5" src="../images/yummi5.png" alt="" />
      </div>
    </div>
    <div class="buy-container">
      <input type="text" placeholder="Enter Wallet" />
      <button>Buy</button>
    </div>
    <div class="astrology-nfts">
      <div class="category">
        <h2 class="collection-title">Astrology &#x264D;</h2>
        <div class="price">
          <p>900 ADA</p>
          <img src="../images/cardano-logo.png" alt="" />
        </div>
      </div>
      <div class="grid-container">
        <img class="grid-item1" src="../images/rare-virgo_orig.gif" alt="" />
        <img class="grid-item2" src="../images/common-aquarius.gif" alt="" />
        <img class="grid-item3" src="../images/rare-taurus_orig.gif" alt="" />
        <img class="grid-item4" src="../images/uncommon-gemini.gif" alt="" />
        <img class="grid-item5" src="../images/rare-scorpio.gif" alt="" />
      </div>
    </div>
    <div class="buy-container">
      <input type="text" placeholder="Enter Wallet" />
      <button>Buy</button>
    </div>
    <hr />
    <%- include('footer.ejs') %>
    <script src="../scripts/menu-drop.js"></script>
  </body>
</html>
