<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("head.ejs")%>
    <title>Login</title>
  </head>
  <body>
    <%- include("header.ejs") %>
    <div class="authentication-forms">
      <div id="register" class="register">
        <h1>Register</h1>
        <label for="firstname">First Name</label>
        <input type="text" id="firstname" />
        <br />
        <label for="lastname">Last Name</label>
        <input type="text" id="lastname" />
        <br />
        <label for="reg-username">Username</label>
        <input type="text" id="reg-username" />
        <br />
        <label for="reg-email">Email</label>
        <input type="email" id="reg-email" />
        <br />
        <label for="reg-password">Password</label>
        <input type="password" id="reg-password" />
        <br />
        <label for="repeat-password">Repeat Password</label>
        <input type="password" id="repeat-password" />
        <br />
        <button onclick="requestRegister()" type="submit">Register</button>
      </div>
      <form method="post" action="/login" class="login">
        <h1>Login</h1>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" />
        <br />
        <label for="password">Password</label>
        <input type="password" id="password" name="password"/>
        <br />
        <input type="submit">
        <br />
        <span id="signup">
          No account yet?
          <button  onclick="showRegister()" type="button">
            Sign Up
          </button></span>
      </div>
    </div>
    <hr />
    <%- include("footer.ejs") %>
    <script src="../scripts/loginhandler.js"></script>
  </body>
</html>
