<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("head.ejs")%>
    <link rel="stylesheet" href="../css/profileStyle.css">
    <title>Market Page</title>
</head>
<body>
    <%- include("logoutheader.ejs")%>
    <% nfts.forEach(function(nft) { %>
        <%- include("marketNft",{nft: nft})%>
        <% }); %>
    <%- include("footer.ejs")%>
    <script src="../scripts/market.js"></script>
</body>
</html>