<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("head.ejs")%>
    <title>Rarity</title>
    <link rel="stylesheet" href="../css/mintStyle.css">
</head>

<body>
  <%- include("logoutheader.ejs")%>
    <div class="minting-intro">
      <h1>Mint Your First NFT</h1>
    </div>
    <p class="minting-method">
      Minting an NFT is a few clicks away! Upload your file and your NFT's information to recieve your NFT in just few
      seconds.
    </p>

    <div class="mint-container">
      <form action="/mint" method="post" enctype="multipart/form-data" id="mint-form">
        <div class="upload-mint">
          <input type="file" name="uploaded-file" id="uploaded-file" />
          <label id="upload-file-mint" for="uploaded-file">Upload Chosen File</label>
        </div>

        <div class="mintInputFields">
          <div class="nftNameDiv">
            <label for="nftName">NFT Name: </label><input type="text" name="nftName"
              placeholder="Insert name of NFT to upload">
          </div>
          
          <div class="nftRarityDiv">
            <label for="nftRarity">NFT Rarity: </label>
            <select name="nftRarity">
              <option value="common">Common</option>
              <option value="uncommon">Uncommon</option>
              <option value="rare">Rare</option>
            </select>
          </div>
          
          <div class="nftPriceDiv">
            <label for="nftPrice">NFT Price: </label><input type="number" name="nftPrice"
              placeholder="Please Enter NFT's price">
          </div>
          
          <div class="nftDescDiv">
            <label for="nftDesc">NFT Description: </label><textarea name="nftDesc" placeholder="Please enter NFT's description"></textarea>
          </div>
        </div>
        <button type="submit" value="submit" form="mint-form">Mint</button>
      </form>
    </div>
    <hr />
    <%- include("footer.ejs") %>
      <script src="../scripts/menu-drop.js"></script>
</body>

</html>