<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("head.ejs")%>
    <title>Rarity</title>
  </head>
  <body>
      <%- include("logoutheader.ejs")%>
    <div class="minting-intro">
      <h1>Mint Your First NFT</h1>
    </div>
    <p class="minting-method">
      Minting an NFT is a few clicks away! Upload your file and enter your
      wallet address and recieve your NFT in just few seconds.
    </p>
    <div class="upload-mint">
      <input type="file" id="uploaded-file" />
      <label for="uploaded-file">Upload Chosen File</label>
    </div>
    <div class="buy-container">
      <input type="text" placeholder="Enter Wallet" />
      <button>Mint</button>
    </div>
    <hr />
    <%- include("footer.ejs") %>
    <script src="../scripts/menu-drop.js"></script>
  </body>
</html>
