<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("head.ejs")%>
    <title>Profile</title>
</head>
<body>
    <%- include("logoutheader.ejs")%>
    <h1>Hello <%= username%></h1>
    <%- include("footer.ejs")%>
</body>
</html>